#nav {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

#logoImg { 
    height: 8rem;
    margin-left: 0px;
}


.navLinks {
    font-family: 'Cabin', sans-serif;
    display: flex;
    text-align: center;
    align-items: center;
    color: #e9c46a;
    text-decoration: underline;
    justify-content: right;
}

#items {
    padding: 0px;
}